@use "../../styles/variables.module.scss" as variables;

.line {
    counter-increment: line;
    line-height: normal;

    display: flex;
    gap: 1rem;
    &::before {
        content: counter(line);
        text-align: right;
        width: 2rem;
        margin-right: 0.5rem;
        height: 100%;
        right: 0;
    }
}
