@use "variables.module" as variables;
@import "./reset.scss";
// @font-face {
//     font-family: "FiraCode" !important;
//     /* font-style: normal;
//     font-weight: 600;
//     font-size: xx-large; */

// }
:root {
    background-color: variables.$color-primary;
    /* color-scheme: var(--color-1); */
}
* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;

    /* background-color: rgba(100,20,50,0.1); */
}

html {
}
body {
    background-color: variables.$color-primary;
    color: variables.$text-unfocused;
}
html,
body {
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}
body {
    //crt effect
    &::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(to bottom, rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
        background-size: 100% 6px;
        z-index: 0;
        pointer-events: none;
    }
    background-image: radial-gradient(ellipse, variables.$color-primary 20%, darken(variables.$color-primary, 5%) 130%);

    animation: textShadow 10s infinite;
}
.wrapper {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 2px solid variables.$color-1;
    border-radius: 10px;
}

.scanline {
    width: 100%;
    height: 100px;
    z-index: 8;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.2) 10%, rgba(0, 0, 0, 0.1) 100%);
    opacity: 0.1;
    position: absolute;
    bottom: 100%;
    animation: scanline 10s linear infinite;

    @keyframes scanline {
        0% {
            bottom: 100%;
        }
        40% {
            bottom: 100%;
        }
        100% {
            bottom: 0%;
        }
    }
}

$color1: rgba(110, 12, 12, 0.508);
$color2: rgba(44, 68, 173, 0.35);

@keyframes textShadow {
    0% {
        text-shadow: 0.4389924193300864px 0 1px $color1, -0.4389924193300864px 0 1px $color2, 0 0 3px;
    }
    5% {
        text-shadow: 2.7928974010788217px 0 1px $color1, -2.7928974010788217px 0 1px $color2, 0 0 3px;
    }
    10% {
        text-shadow: 0.02956275843481219px 0 1px $color1, -0.02956275843481219px 0 1px $color2, 0 0 3px;
    }
    15% {
        text-shadow: 0.40218538552878136px 0 1px $color1, -0.40218538552878136px 0 1px $color2, 0 0 3px;
    }
    20% {
        text-shadow: 3.4794037899852017px 0 1px $color1, -3.4794037899852017px 0 1px $color2, 0 0 3px;
    }
    25% {
        text-shadow: 1.6125630401149584px 0 1px $color1, -1.6125630401149584px 0 1px $color2, 0 0 3px;
    }
    30% {
        text-shadow: 0.7015590085143956px 0 1px $color1, -0.7015590085143956px 0 1px $color2, 0 0 3px;
    }
    35% {
        text-shadow: 3.896914047650351px 0 1px $color1, -3.896914047650351px 0 1px $color2, 0 0 3px;
    }
    40% {
        text-shadow: 3.870905614848819px 0 1px $color1, -3.870905614848819px 0 1px $color2, 0 0 3px;
    }
    45% {
        text-shadow: 2.231056963361899px 0 1px $color1, -2.231056963361899px 0 1px $color2, 0 0 3px;
    }
    50% {
        text-shadow: 0.08084290417898504px 0 1px $color1, -0.08084290417898504px 0 1px $color2, 0 0 3px;
    }
    55% {
        text-shadow: 2.3758461067427543px 0 1px $color1, -2.3758461067427543px 0 1px $color2, 0 0 3px;
    }
    60% {
        text-shadow: 2.202193051050636px 0 1px $color1, -2.202193051050636px 0 1px $color2, 0 0 3px;
    }
    65% {
        text-shadow: 2.8638780614874975px 0 1px $color1, -2.8638780614874975px 0 1px $color2, 0 0 3px;
    }
    70% {
        text-shadow: 0.48874025155497314px 0 1px $color1, -0.48874025155497314px 0 1px $color2, 0 0 3px;
    }
    75% {
        text-shadow: 1.8948491305757957px 0 1px $color1, -1.8948491305757957px 0 1px $color2, 0 0 3px;
    }
    80% {
        text-shadow: 0.0833037308038857px 0 1px $color1, -0.0833037308038857px 0 1px $color2, 0 0 3px;
    }
    85% {
        text-shadow: 0.09769827255241735px 0 1px $color1, -0.09769827255241735px 0 1px $color2, 0 0 3px;
    }
    90% {
        text-shadow: 3.443339761481782px 0 1px $color1, -3.443339761481782px 0 1px $color2, 0 0 3px;
    }
    95% {
        text-shadow: 2.1841838852799786px 0 1px $color1, -2.1841838852799786px 0 1px $color2, 0 0 3px;
    }
    100% {
        text-shadow: 2.6208764473832513px 0 1px $color1, -2.6208764473832513px 0 1px $color2, 0 0 3px;
    }
}
