@use "variables.module" as variables;
@import "./reset.scss";
// @font-face {
//     font-family: "FiraCode" !important;
//     /* font-style: normal;
//     font-weight: 600;
//     font-size: xx-large; */

// }
:root {
    background-color: variables.$color-primary;
    /* color-scheme: var(--color-1); */
}
* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    user-select: none;

    /* background-color: rgba(100,20,50,0.1); */
}

a {
    text-decoration: none;
    color:inherit
}
body {
    background-color: variables.$color-primary;
    color: variables.$text-unfocused;
    font-size: variables.$font-default;
}
html,
body {
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}
body {
    //crt effect
    &::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(to bottom, rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
        background-size: 100% 6px;
        z-index: 0;
        pointer-events: none;
    }
    background-image: radial-gradient(ellipse, variables.$color-primary 60%, darken(variables.$color-primary, 5%) 120%);

    // animation: textShadow 15s infinite;
    text-shadow: 0 0 3px;

    svg {
        // animation: svgShadow 15s infinite;
        filter: drop-shadow(0 0 1.25px);
    }
}
.wrapper {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 2px solid variables.$color-1;
    border-radius: 10px;
}

.scanline {
    width: 100%;
    height: 150px;
    z-index: 8;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.2) 10%, rgba(0, 0, 0, 0.1) 100%);
    opacity: 0.1;
    position: absolute;
    bottom: 100%;
    animation: scanline 10s linear infinite;

    @keyframes scanline {
        0% {
            bottom: 100%;
        }
        40% {
            bottom: 100%;
        }
        100% {
            bottom: 0%;
        }
    }
}

$color1: rgba(31, 63, 205, 0.602);
$color2: rgba(159, 18, 18, 0.689);

@keyframes textShadow {
    0% {
        text-shadow: 0 0 3px;
    }
    30% {
        text-shadow: 0.7015590085143956px 0 1px $color1, -0.7015590085143956px 0 1px $color2, 0 0 3px;
    }
    35% {
        text-shadow: 3.896914047650351px 0 1px $color1, -3.896914047650351px 0 1px $color2, 0 0 3px;
    }
    40% {
        text-shadow: 3.870905614848819px 0 1px $color1, -3.870905614848819px 0 1px $color2, 0 0 3px;
    }
    45% {
        text-shadow: 2.231056963361899px 0 1px $color1, -2.231056963361899px 0 1px $color2, 0 0 3px;
    }
    50% {
        text-shadow: 0.08084290417898504px 0 1px $color1, -0.08084290417898504px 0 1px $color2, 0 0 3px;
    }
    55% {
        text-shadow: 2.3758461067427543px 0 1px $color1, -2.3758461067427543px 0 1px $color2, 0 0 3px;
    }
    60% {
        text-shadow: 2.202193051050636px 0 1px $color1, -2.202193051050636px 0 1px $color2, 0 0 3px;
    }
    65% {
        text-shadow: 2.8638780614874975px 0 1px $color1, -2.8638780614874975px 0 1px $color2, 0 0 3px;
    }
    70% {
        text-shadow: 0.48874025155497314px 0 1px $color1, -0.48874025155497314px 0 1px $color2, 0 0 3px;
    }
    75% {
        text-shadow: 1.8948491305757957px 0 1px $color1, -1.8948491305757957px 0 1px $color2, 0 0 3px;
    }
    80% {
        text-shadow: 0.0833037308038857px 0 1px $color1, -0.0833037308038857px 0 1px $color2, 0 0 3px;
    }
    85% {
        text-shadow: 0.09769827255241735px 0 1px $color1, -0.09769827255241735px 0 1px $color2, 0 0 3px;
    }
    90% {
        text-shadow: 1.5px 0 1px $color1, -1.5px 0 1px $color2, 0 0 3px;
    }
    95% {
        text-shadow: 1px 0 1px $color1, -1px 0 1px $color2, 0 0 3px;
    }
    100% {
        text-shadow: 0.5 0 1px $color1, -0.5 0 1px $color2, 0 0 3px;
    }
}
@keyframes svgShadow {
    0% {
        filter: drop-shadow(0 0 1.25px);
    }
    30% {
        filter: drop-shadow(0.7015590085143956px 0 1px $color1) drop-shadow(-0.7015590085143956px 0 1px $color2)
            drop-shadow(0 0 3px);
    }
    35% {
        filter: drop-shadow(3.896914047650351px 0 1px $color1) drop-shadow(-3.896914047650351px 0 1px $color2)
            drop-shadow(0 0 3px);
    }
    40% {
        filter: drop-shadow(3.870905614848819px 0 1px $color1) drop-shadow(-3.870905614848819px 0 1px $color2)
            drop-shadow(0 0 3px);
    }
    45% {
        filter: drop-shadow(2.231056963361899px 0 1px $color1) drop-shadow(-2.231056963361899px 0 1px $color2)
            drop-shadow(0 0 3px);
    }

    50% {
        filter: drop-shadow(0.08084290417898504px 0 1.25px $color1) drop-shadow(-0.08084290417898504px 0 1.25px $color2)
            drop-shadow(0 0 1.25px);
    }
    55% {
        filter: drop-shadow(2.3758461067427543px 0 1.25px $color1) drop-shadow(-2.3758461067427543px 0 1.25px $color2)
            drop-shadow(0 0 1.25px);
    }
    60% {
        filter: drop-shadow(2.202193051050636px 0 1.25px $color1) drop-shadow(-2.202193051050636px 0 1.25px $color2)
            drop-shadow(0 0 1.25px);
    }
    65% {
        filter: drop-shadow(2.8638780614874975px 0 1.25px $color1) drop-shadow(-2.8638780614874975px 0 1.25px $color2)
            drop-shadow(0 0 1.25px);
    }
    70% {
        filter: drop-shadow(0.48874025155497314px 0 1.25px $color1) drop-shadow(-0.48874025155497314px 0 1.25px $color2)
            drop-shadow(0 0 1.25px);
    }
    75% {
        filter: drop-shadow(1.8948491305757957px 0 1.25px $color1) drop-shadow(-1.8948491305757957px 0 1.25px $color2)
            drop-shadow(0 0 1.25px);
    }
    80% {
        filter: drop-shadow(0.0833037308038857px 0 1.25px $color1) drop-shadow(-0.0833037308038857px 0 1.25px $color2)
            drop-shadow(0 0 1.25px);
    }
    85% {
        filter: drop-shadow(0.09769827255241735px 0 1.25px $color1) drop-shadow(-0.09769827255241735px 0 1.25px $color2)
            drop-shadow(0 0 1.25px);
    }
    90% {
        filter: drop-shadow(1.25px 0 1.25px $color1) drop-shadow(-1.25px 0 1.25px $color2) drop-shadow(0 0 1.25px);
    }
    95% {
        filter: drop-shadow(1px 0 1.25px $color1) drop-shadow(-1px 0 1.25px $color2) drop-shadow(0 0 1.25px);
    }
    100% {
        filter: drop-shadow(0.5 0 1.25px $color1) drop-shadow(-0.5 0 1.25px $color2) drop-shadow(0 0 1.25px);
    }
}
