$dark-theme: true !default;

@if $dark-theme {
    // $primary-color: darken($-color, 60%);
    // $accent-color: lighten($accent-color, 60%);
}

$color-primary: #011727;
$color-1: #1e2d3d;
$text-unfocused: #9fadbc;
$text-focused: #ffffff;


$left-panel: 15rem;

$font-default: 0.85rem;
//for JS
:export{

}