.main {
    display: flex;
    /* visibility: hidden; */
    background-color: black;
    flex-grow: 1;
    width: 100%;

    background-color: var(---color-1);
}
.content {
    width: 75%;
    height: 80%;
    margin: auto;
    display: flex;
    position: relative;

    .left {
        display: flex;

        flex-direction: column;
        gap: 4rem;
        z-index: 2;
        width: 50%;
        justify-content: center;
        user-select: none;

        .upper {
            line-height: 2.5rem;
            h1 {
                font-size: 3rem;
            }
            h2 {
                font-size: 1.5rem;
                &::before {
                    content: "<!-- ";
                }
                &::after {
                    content: " --->";
                }
                color: darkseagreen;
            }
            h3 {
                font-weight: 100;
            }
        }
        .lower {
            line-height: 1.2rem;
            font-size: 0.7rem;
            .github_link {
                white-space: nowrap;

                a {
                    all: unset;
                }
            }
        }
        .string {
            cursor: pointer;
            &:hover {
                color: orangered;
            }
        }
    }
    .right {
        flex: 1;
        /* position: absolute;
 height: 100%;
  left: 0;
  right: 0; */

        /* canvas {

    border-radius: 10px;
  } */
    }
}
.light {
    position: absolute;
    right: 60%;
    top: 30%;
    box-shadow: 0 0 100px 60px #0ff;
}
