@use "../../styles/variables.module.scss" as variables;

.window {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    // border-right: 0.1rem solid variables.$color-1;

    nav {
        height: 2rem;
        border-bottom: 0.1rem solid variables.$color-1;
        ul {
            display: flex;
            flex-direction: row;

            height: 100%;
            & > li {
                border-right: 0.1rem solid variables.$color-1;
                font-size: 1rem;
                padding: 0 0.8rem;
                font-weight: 400;
                align-items: center;
                width: 10rem;
                display: flex;
                justify-content: space-between;
                &::after {
                    content: "X";
                }
            }
        }
    }
    main {
        
        height: max-content;
        padding: 3rem 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
